*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
#header{
    /* background-color: rgb(5, 172, 172); */
    background-image: url(./wallpapersden.com_huawei-4k-stock-abstract_2048x1152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 20%;
}
#header div{
    display: flex;
}
.img{
    width: 20%;
    height: 55%;
    margin-left: 60%;
   margin-top: 57px;
}

.basliq{
    font-weight: 500;
    font-size: 3rem;
    padding-top: 10%;
    padding-left: 30px;
}
.lorem{
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    padding-left: 30px;
}
.button{
    background-color: blue;
    padding: 10px;
    border: 2px solid blue;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}
#div1{
    display: inline;
}
.col-4 i{
    border: 2px solid red;
    border-radius: 100%;
    color: red;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.div2{
    background-color: rgb(209, 90, 164);
    display: flex;
    height: 60px;
}
.div3{
    background-color: rgb(38, 138, 163);
    height: 300px;
    display: flex;
}
.fa-laptop{
    color: white;
    margin-top: 50px;
    margin-left: 70%;
}
#section1{
    height: 30%;
    width: 100%;
    padding: 60px;
}
.row{
    display: flex;
}
.col-4 p{
    text-align: justify;
}
.col-4{
    padding-left: 8%;
}
.h31{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.div2 button{
    border: solid 2px white;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    margin-top: 10px;
    margin-left: 50%;
    background-color: transparent;
    color: white;
}
.div2 p{
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 15px;
}
.text p{
    color: white;
    text-align: justify;
}
.text h3{
    color: white;
    font-weight: 400;
    font-size: 22px;
}
.text{
    margin-left: 30%;
    margin-top: 2%;
}
#section3{
    margin-top: 8%;
    margin-left: 15%;
}
#section3 table{
    width: 1000px;
    height: 400px;
    border: thick black;
}
#tr1{
    background-color: rgb(199, 198, 198);
    text-align: center;
    color: orangered;
    font-size: 20px;
}
#td{
    background-color: orangered;
    color: white;
}
#tr2{
    height: 90px;
    background-color: rgb(223, 221, 221);
}
#tr2 td{
    color: orangered;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
#tr3 td{
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
}
#tr4{
    background-color: rgb(223, 221, 221);
}
#tr4 td{
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
}
#tr5{
    height: 80px;
}
#tr5 td button{
    margin-left: 100px;
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
    padding: 10px 40px;
}
#section4{
    margin-top: 10%;
}
#butterfly{
    border: solid 2px;
    border-radius: 100%;
    height: 300px;
    /* margin-left: 40%; */
}
#sign-up{
    background-color: #8168aa;
    height: 100px;
}
#sign-up p{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}
#sign-up input{
    margin-left: 40%;
    width: 250px;
}
#mavi{
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: white;
    width: 100px;
    margin-left: 10px;
}
.down{
    display: flex;
    margin-top: 30px;
    margin-left: 25%;
}
.ayri{
    display: block;
    margin-top: 100px;
    margin-left: 30px;
}
.ayri button{
    background-color: orangered;
    border: 2px solid orangered;
    width: 150px;
    color: white;
    margin-top: 10px;
}
#leftside{
    color: orangered;
    margin-top: 100px;
}
#rightside{
    color: orangered;
    margin-top: 100px;
}
#yumru{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orangered;
    margin-right: 25px;
}
#yumru1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 25px;
}
#yumrular{
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
}
#section5{
    background-color: orangered;
    margin-top: 20px;
    display: flex;
}
#section5 p{
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-left: 60px;
    margin-top: 10px;
}
.icons2{
    margin-left: 60%;
    margin-top: 10px;
}
#icon1{
    border: 2px solid white;
    border-radius: 100%;
    color: white;
}
#icon2{
    border: 2px solid white;
    border-radius: 100%;
    color: white;
}
#icon3{
    border: 2px solid white;
    border-radius: 100%;
    color: white;
}