.menu1{
    max-width: 400px;
    margin: auto;
}
body{
    background-color: #80ccd0;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background-position: left;
    background-size: 300px;
    background-repeat: no-repeat;
    background-image: url("sual.gif")
}
#umumi{
    width: 600px;
    height: 500px;
}
#ust{
    background-color: #fc653a;
    border-radius: 3px;
    padding-bottom: 20px;
}
#ust h3{
     text-align: center;
     color: white;
     padding-top: 40px;
     font-size: 20px;
     font-style: initial;
}
#ust input{
    width: 100%;
    height: 70px;
    background-color: #b93d25;
    border: none;
    border-radius: 5px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: initial;
}
#alt{
    background-color: #b83c24;
    
}
#alt button{
    width: 100px;
    height: 70px;
    color: #b93c24;
    background-color: white;
    padding: 20px;
    font-style: initial;
    border: none;
    font-size: 20px;
}
#alt h4{
    font-style: inherit;
     color: white;
     margin-right: 40px;
     text-decoration: none;
}input::placeholder{
    color: white;
}
#menu3{
   width: 50%;
   margin-right: 50px;
}